Repository confidential-containers/trustee-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

trustee-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

trustee-operator-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator:on-pr-{{revision}}
  - name: revision
    value: '{{revision}}'
  ...

trustee-operator-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator:{{revision}}
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

Add admin.personas per trustee repository
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add e2e test for restrictive profile and TLS
  tests/e2e/sample-trusteeconfig-restricted/00-assert-controller.yaml
  tests/e2e/sample-trusteeconfig-restricted/00-install-operator.yaml
  tests/e2e/sample-trusteeconfig-restricted/05-assert-tls-secret.yaml
  tests/e2e/sample-trusteeconfig-restricted/05-create-tls-secret.yaml
  tests/e2e/sample-trusteeconfig-restricted/10-assert-trustee-config.yaml
  tests/e2e/sample-trusteeconfig-restricted/10-trusteeconfig.yaml
  tests/e2e/sample-trusteeconfig-restricted/100-teardown.yaml
  tests/e2e/sample-trusteeconfig-restricted/15-assert-https-secrets.yaml
  tests/e2e/sample-trusteeconfig-restricted/20-assert-kbsconfig-cm.yaml
  tests/e2e/sample-trusteeconfig-restricted/30-assert-auth-secret.yaml
  tests/e2e/sample-trusteeconfig-restricted/40-assert-resource-policy.yaml
  tests/e2e/sample-trusteeconfig-restricted/50-assert-ref-values.yaml
  tests/e2e/sample-trusteeconfig-restricted/60-assert-tdx-config.yaml
  tests/e2e/sample-trusteeconfig-restricted/65-assert-attestation-policy.yaml
  tests/e2e/sample-trusteeconfig-restricted/67-assert-gpu-policy.yaml
  tests/e2e/sample-trusteeconfig-restricted/70-assert-kbs-config.yaml
  tests/e2e/sample-trusteeconfig-restricted/75-assert-tls-config.yaml
  tests/e2e/sample-trusteeconfig-restricted/78-assert-deployment-ready.yaml
  tests/e2e/sample-trusteeconfig-restricted/78-update-policy-permissive.yaml
  tests/e2e/sample-trusteeconfig-restricted/80-assert-kbs-client.yaml
  tests/e2e/sample-trusteeconfig-restricted/80-kbs-client.yaml
  tests/e2e/sample-trusteeconfig-restricted/90-assert-secret.yaml
  tests/e2e/sample-trusteeconfig-restricted/90-get-secret.yaml
  tests/e2e/sample-trusteeconfig-restricted/client.yaml.in
  tests/e2e/sample-trusteeconfig-restricted/kbs-service-openssl.conf
Due: trustee-operator-bundle-on-pull-request

fix(docs): align KBS kvstorage dir_path in samples and add NRAS GPU doc
  README.md
  config/samples/all-in-one/ita-kbs-config.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/microservices/as-config.yaml
  config/samples/microservices/ita-kbs-config.yaml
  config/samples/microservices/kbs-config.yaml
  docs/ita.md
  docs/kbs-kvstorage-storage.md
  docs/nvidia-nras-gpu-verifier.md
  docs/sticky-sessions.md
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Update kbs-config.toml configuration
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  tests/e2e/sample-attester-https/03-kbs-config.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Minor changes to CI and kuttl tests
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  kuttl-test.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Fix secret-converter to run as non-root with proper volume mounting
  cmd/secret-converter/main.go
  internal/controller/common.go
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix CI
  Makefile
  tests/e2e/sample-attester-https/client.yaml.in
  tests/e2e/sample-attester/client.yaml.in
  tests/e2e/sample-trusteeconfig-restricted/client.yaml.in
  tests/e2e/sample-trusteeconfig/client.yaml.in
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Remove TDX PCCS-dependent configuration
  README.md
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  config/samples/all-in-one/kustomization.yaml
  config/samples/all-in-one/patch-tdx-config.yaml
  config/samples/all-in-one/tdx-config.yaml
  config/samples/microservices/kustomization.yaml
  config/samples/microservices/patch-tdx-config.yaml
  config/samples/microservices/tdx-config.yaml
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  config/templates/tdx-config.json
  docs/kbs-config-merge-strategy.md
  internal/controller/common.go
  internal/controller/kbsconfig_controller.go
  internal/controller/tdx_helper.go
  internal/controller/trusteeconfig_controller.go
  tests/e2e/sample-attester-https/03-kbs-config.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
  tests/e2e/sample-trusteeconfig-restricted/60-assert-tdx-config.yaml
  tests/e2e/sample-trusteeconfig/60-assert-tdx-config.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Bumped operator versions for Kubernetes 1.35
  Makefile
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  go.mod
  go.sum
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Replace deprecated GetEventRecorderFor with GetEventRecorder
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Automatic KBS pod restart on ConfigMap changes
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix Makefile deploy to update OPERATOR_IMAGE_NAME env var
  Makefile
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix attestation policy for Azure SNP/TDX
  config/templates/ear_default_attestation_policy_cpu.rego
Due: trustee-operator-on-pull-request, trustee-operator-on-push

feat: support IBM SE TrusteeConfig provisioning
  api/v1alpha1/kbsconfig_types.go
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  config/rbac/role.yaml
  config/templates/resource-policy-ibm.rego
  docs/ibmse.md
  internal/controller/ibmse_helper.go
  internal/controller/resource_policy_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

feat: support IBM SE TrusteeConfig provisioning
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle.Dockerfile
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  config/rbac/role.yaml
  config/templates/resource-policy-ibm.rego
  docs/ibmse.md
  internal/controller/ibmse_helper.go
  internal/controller/resource_policy_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

fix: skip deployment update when spec is unchanged
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix: sort env vars to ensure deterministic deployment spec
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Bump operator version v0.21.0
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Amended AMD disconnected documentation
  docs/disconnected.md
Due: trustee-operator-on-pull-request, trustee-operator-on-push

add labels to secrets created by operator
  internal/controller/common.go
  internal/controller/trusteeconfig_controller.go
  tests/e2e/sample-trusteeconfig-restricted/15-assert-https-secrets.yaml
  tests/e2e/sample-trusteeconfig-restricted/30-assert-auth-secret.yaml
  tests/e2e/sample-trusteeconfig/30-assert-auth-secret.yaml
  tests/e2e/trusteeconfig-self-healing/30-assert.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Enable health endpoint on the pods
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Added Kubernetes/OpenShift cluster detection
  cmd/main.go
  internal/controller/utils/utils.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix CI
  .github/workflows/kuttl-int-tests.yaml
  Makefile
  tests/scripts/install-operator.sh
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

trustee-operator v0.22.0
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
  config/templates/resource-policy-permissive.rego
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Regenerate bundle to have updated network-policies RBAC
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

tls: expand predefined TLS profiles to explicit DHE-free cipher lists
  config/templates/kbs-config-restricted.toml
  internal/controller/tlsconfig.go
  internal/controller/tlsconfig_test.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add CEL expression to TrusteeConfig
  api/v1alpha1/kbsconfig_types.go
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

feat(ibmse): automate bundle delivery and attestation policy generation
  api/v1alpha1/kbsconfig_types.go
  config/rbac/role.yaml
  config/samples/all-in-one/trusteeconfig-ibmse-automated.yaml
  hack/ibmse-bundle-generator/ibmse_bundle/__init__.py
  hack/ibmse-bundle-generator/ibmse_bundle/bundler.py
  hack/ibmse-bundle-generator/ibmse_bundle/cli.py
  hack/ibmse-bundle-generator/ibmse_bundle/crypto.py
  hack/ibmse-bundle-generator/ibmse_bundle/downloader.py
  hack/ibmse-bundle-generator/ibmse_bundle/k8s.py
  hack/ibmse-bundle-generator/ibmse_bundle/policy.py
  hack/ibmse-bundle-generator/requirements.txt
  internal/controller/ibmse_attestation_policy.go
  internal/controller/ibmse_job.go
  internal/controller/ibmse_test.go
  internal/controller/networkpolicy_test.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Path conditions:
  trustee-operator-bundle-on-pull-request: any of: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-pull-request: any file but: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-push: any file but: bundle*|tests/*|.tekton/*bundle*
