Repository confidential-containers/trustee-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

.tekton/trustee-operator-bundle-pull-request.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/openshift/trustee-operator?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/pull_request_number: '{{pull_request_number}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: >
      event == "pull_request" &&
      target_branch == "main" &&
      files.all.exists(path, path.matches('bundle*|tests/*|.tekton/*bundle*'))
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: trustee
    appstudio.openshift.io/component: trustee-operator-bundle
    pipelines.appstudio.openshift.io/type: build
  name: trustee-operator-bundle-on-pull-request
  namespace: ose-osc-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: "true"
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: bundle.Dockerfile
  - name: hermetic
    value: "true"
  pipelineRef:
    name: bundle-build-pipeline
  taskRunTemplate: {}
  workspaces:
  - name: workspace
    volumeClaimTemplate:
      metadata:
        creationTimestamp: null
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
      status: {}
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

.tekton/trustee-operator-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/openshift/trustee-operator?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression:
      event == "push" &&
      target_branch == "main" &&
      files.all.exists(path, !path.matches('bundle*|tests/*|.tekton/*bundle*'))
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: trustee
    appstudio.openshift.io/component: trustee-operator
    pipelines.appstudio.openshift.io/type: build
  name: trustee-operator-on-push
  namespace: ose-osc-tenant
spec:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator:{{revision}}
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: "true"
  - name: prefetch-input
    value: '{"type": "gomod", "path": "."}'
  - name: hermetic
    value: "true"
  - name: enable-amd64-build
    value: "true"
  - name: enable-arm64-build
    value: "false"
  - name: enable-ppc64le-build
    value: "false"
  - name: enable-s390x-build
    value: "true"
  pipelineRef:
    name: multi-arch-build-pipeline
  taskRunTemplate: {}
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

go.mod: bump Go toolchain version to v1.22.0
  .github/workflows/kuttl-int-tests.yaml
  Dockerfile
  go.mod
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

EAR token introduction
  config/samples/all-in-one/kbs-config.yaml
  config/samples/microservices/as-config.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

tekton: add tag to pipeline ref
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-on-push

bump operator-sdk version to v1.36.1 (#47)
  Makefile
  bundle.Dockerfile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/default/manager_auth_proxy_patch.yaml
  go.mod
  go.sum
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

kuttl integration test
  .github/workflows/kuttl-int-tests.yaml
  Makefile
  README.md
  kuttl-test.yaml
  tests/e2e/sample-attester/00-assert.yaml
  tests/e2e/sample-attester/00-install.yaml
  tests/e2e/sample-attester/01-assert.yaml
  tests/e2e/sample-attester/01-auth-secret.yaml
  tests/e2e/sample-attester/02-assert.yaml
  tests/e2e/sample-attester/02-kbs-secret.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
  tests/e2e/sample-attester/04-resource-policy.yaml
  tests/e2e/sample-attester/05-rvps-reference-values.yaml
  tests/e2e/sample-attester/06-assert.yaml
  tests/e2e/sample-attester/06-kbsconfig_sample.yaml
  tests/e2e/sample-attester/07-assert.yaml
  tests/e2e/sample-attester/07-client.yaml
  tests/e2e/sample-attester/08-assert.yaml
  tests/e2e/sample-attester/08-get-secret.yaml
  tests/e2e/sample-attester/client.yaml
  tests/e2e/sample-attester/create-auth-secret.sh
  tests/e2e/sample-attester/create-other-secret.sh
  tests/e2e/sample-attester/get-secret.sh
  tests/e2e/sample-attester/install-operator.sh
  tests/e2e/sample-attester/kustomization.yaml
  tests/scripts/kind-with-registry.sh
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

Add ITA / ITTS examples / documentation
  config/samples/all-in-one/ita-kbs-config.yaml
  config/samples/all-in-one/ita-resource-policy.yaml
  config/samples/all-in-one/kustomization.yaml
  config/samples/all-in-one/patch-ita-config.yaml
  config/samples/microservices/ita-kbs-config.yaml
  config/samples/microservices/ita-resource-policy.yaml
  config/samples/microservices/kustomization.yaml
  docs/ita.md
Due: trustee-operator-on-push

gh: add CODEOWNERS
  CODEOWNERS
Due: trustee-operator-on-push

Bumping new operator versions (#53)
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

Added attestation policy to integration tests
  tests/e2e/sample-attester/04-resource-policy.yaml
  tests/e2e/sample-attester/06-assert.yaml
  tests/e2e/sample-attester/06-attestation-policy.yaml
  tests/e2e/sample-attester/07-assert.yaml
  tests/e2e/sample-attester/07-kbsconfig_sample.yaml
  tests/e2e/sample-attester/08-assert.yaml
  tests/e2e/sample-attester/08-client.yaml
  tests/e2e/sample-attester/09-assert.yaml
  tests/e2e/sample-attester/09-get-secret.yaml
  tests/e2e/sample-attester/create-other-secret.sh
Due: trustee-operator-bundle-on-pull-request

Removal of ReadOnly for PVCVolume
  internal/controller/volumes.go
Due: trustee-operator-on-push

Fix kbs-client image override for tests
  tests/e2e/sample-attester/install-operator.sh
Due: trustee-operator-bundle-on-pull-request

Fix CI
  .github/workflows/kuttl-int-tests.yaml
  Makefile
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

test CI
  .github/workflows/kuttl-int-tests.yaml
  Makefile
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

Update kuttl-int-tests.yaml
  .github/workflows/kuttl-int-tests.yaml
Due: trustee-operator-bundle-on-pull-request

test CI
  README.md
Due: trustee-operator-on-push

Misc editorial changes for README
  .gitignore
  README.md
  config/manager/kustomization.yaml
  config/samples/microservices/kustomization.yaml
Due: trustee-operator-on-push

Skip GH action workflow on changes to md files
  .github/workflows/docker-publish-latest-on-merge.yaml
  .github/workflows/gofmt.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/kuttl-int-tests.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

tekton: update Konflux references
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-on-push

Defaulting to EAR attestation policy
  README.md
  config/samples/all-in-one/attestation-policy.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/all-in-one/resource-policy.yaml
  config/samples/all-in-one/rvps-reference-values.yaml
  config/samples/microservices/as-config.yaml
  config/samples/microservices/attestation-policy.yaml
  config/samples/microservices/resource-policy.yaml
  config/samples/microservices/rvps-reference-values.yaml
  internal/controller/common.go
  internal/controller/kbsconfig_controller.go
  tests/e2e/sample-attester/03-kbs-config.yaml
  tests/e2e/sample-attester/04-resource-policy.yaml
  tests/e2e/sample-attester/05-rvps-reference-values.yaml
  tests/e2e/sample-attester/06-attestation-policy.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

Update pipeline digests
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-on-push

actions: add arm64 image for release and PR merge
  .github/workflows/docker-publish-latest-on-merge.yaml
  .github/workflows/docker-publish-on-tag.yaml
Due: trustee-operator-on-push

helper scripts for Trustee operator install
  scripts/install-helpers/.gitignore
  scripts/install-helpers/README.md
  scripts/install-helpers/attestation-policy.yaml
  scripts/install-helpers/image_mirroring.yaml
  scripts/install-helpers/install.sh
  scripts/install-helpers/kbs-cm.yaml
  scripts/install-helpers/kbsconfig.yaml
  scripts/install-helpers/ns.yaml
  scripts/install-helpers/og.yaml
  scripts/install-helpers/resource-policy-cm.yaml
  scripts/install-helpers/rvps-cm.yaml
  scripts/install-helpers/subs-ga.yaml
  scripts/install-helpers/subs-upstream.yaml
  scripts/install-helpers/tdx-cm.yaml
  scripts/install-helpers/trustee_catalog.yaml
Due: trustee-operator-on-push

Update installation scripts
  scripts/install-helpers/install.sh
  scripts/install-helpers/subs-ga.yaml
  scripts/install-helpers/subs-upstream.yaml
Due: trustee-operator-on-push

ita: Fix token type
  docs/ita.md
Due: trustee-operator-on-push

ita: Don't require nodeport
  docs/ita.md
Due: trustee-operator-on-push

Defaulting to EAR attestation policy
  README.md
  config/samples/all-in-one/attestation-policy.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/all-in-one/resource-policy.yaml
  config/samples/all-in-one/rvps-reference-values.yaml
  config/samples/microservices/as-config.yaml
  config/samples/microservices/attestation-policy.yaml
  config/samples/microservices/resource-policy.yaml
  config/samples/microservices/rvps-config.yaml
  config/samples/microservices/rvps-reference-values.yaml
  internal/controller/common.go
  internal/controller/kbsconfig_controller.go
  tests/e2e/sample-attester/03-kbs-config.yaml
  tests/e2e/sample-attester/04-resource-policy.yaml
  tests/e2e/sample-attester/05-rvps-reference-values.yaml
  tests/e2e/sample-attester/06-attestation-policy.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

install-helper: Add ITA support
  scripts/install-helpers/install.sh
  scripts/install-helpers/tdx-ita-kbs-cm.yaml
  scripts/install-helpers/tdx-ita-kbsconfig.yaml
  scripts/install-helpers/tdx-ita-resource-policy-cm.yaml
Due: trustee-operator-on-push

Add support for testing microservices
  config/samples/all-in-one/attestation-policy.yaml
  config/samples/microservices/attestation-policy.yaml
  tests/e2e/sample-attester/00-install.yaml
  tests/e2e/sample-attester/05-rvps-reference-values.yaml
  tests/e2e/sample-attester/06-attestation-policy.yaml
  tests/e2e/sample-attester/install-operator.sh
  tests/scripts/install-operator.sh
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

install-helper: Add DCAP support for coco-as deployments
  scripts/install-helpers/README.md
  scripts/install-helpers/install.sh
  scripts/install-helpers/tdx-cm.yaml
  scripts/install-helpers/tdx-coco-as-cm.yaml
Due: trustee-operator-on-push

workaround: install-helper: Ensure proxies are set up
  scripts/install-helpers/install.sh
Due: trustee-operator-on-push

Revert "workaround: install-helper: Ensure proxies are set up"
  scripts/install-helpers/install.sh
Due: trustee-operator-on-push

workaround: bm: Set proxies via KbsEnvVars
  scripts/install-helpers/install.sh
Due: trustee-operator-on-push

bm: tests: Add test to ensure the pods is running inside a TEE podsandbox
  scripts/install-helpers/tests/k8s-confidential.bats
  scripts/install-helpers/tests/run.sh
  scripts/install-helpers/tests/runtimeclass_workloads/confidential/unencrypted/Dockerfile
  scripts/install-helpers/tests/runtimeclass_workloads/pod-confidential-unencrypted.yaml.in
  scripts/install-helpers/tests/tests_common.sh
Due: trustee-operator-bundle-on-pull-request

bm: tests: Add test to get the preset secret
  scripts/install-helpers/tests/k8s-confidential-attestation.bats
  scripts/install-helpers/tests/run.sh
  scripts/install-helpers/tests/runtimeclass_workloads/pod-attestable.yaml.in
Due: trustee-operator-bundle-on-pull-request

bm: tests: Add test to validate signed images
  scripts/install-helpers/tests/k8s-guest-pull-image-signature.bats
  scripts/install-helpers/tests/run.sh
  scripts/install-helpers/tests/runtimeclass_workloads/pod-signed-tests.yaml.in
  scripts/install-helpers/tests/tests_common.sh
Due: trustee-operator-bundle-on-pull-request

Update README
  scripts/install-helpers/README.md
Due: trustee-operator-on-push

Integration test refactoring
  .gitignore
  tests/e2e/sample-attester/01-auth-secret.yaml
  tests/e2e/sample-attester/02-kbs-secret.yaml
  tests/e2e/sample-attester/08-client.yaml
  tests/e2e/sample-attester/09-get-secret.yaml
  tests/e2e/sample-attester/client.yaml.in
  tests/e2e/sample-attester/create-auth-secret.sh
  tests/e2e/sample-attester/create-other-secret.sh
  tests/e2e/sample-attester/get-secret.sh
  tests/e2e/sample-attester/kustomization.yaml
  tests/scripts/install-operator.sh
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

Added test suite for real TEE attestation
  tests/tee/attestation/01-assert.yaml
  tests/tee/attestation/01-kbs-secret.yaml
  tests/tee/attestation/02-patch-kbsconfig.yaml
  tests/tee/attestation/03-assert.yaml
  tests/tee/attestation/03-coco-pod.yaml
  tests/tee/attestation/04-assert.yaml
  tests/tee/attestation/05-teardown.yaml
  tests/tee/attestation/pod.yaml.in
Due: trustee-operator-bundle-on-pull-request

Drop deprecated kube-rbac-proxy
  Makefile
  cmd/main.go
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_config_patch.yaml
  config/default/manager_metrics_patch.yaml
  config/default/metrics_service.yaml
  config/manager/manager.yaml
  config/network-policy/allow-metrics-traffic.yaml
  config/network-policy/allow-webhook-traffic.yaml
  config/network-policy/kustomization.yaml
  config/prometheus/monitor.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  config/rbac/metrics_auth_role.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/metrics_reader_role.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
Due: trustee-operator-on-push

Bump new operator version
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push
