Repository confidential-containers/trustee-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Path conditions:
  trustee-operator-bundle-on-pull-request: any of: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-pull-request: any file but: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-push: any file but: bundle*|tests/*|.tekton/*bundle*

Update go.mod
  go.mod
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix golang version
  .github/workflows/kuttl-int-tests.yaml
  Dockerfile
  go.mod
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Testing: https enabled
  tests/e2e/sample-attester-https/00-assert.yaml
  tests/e2e/sample-attester-https/00-install.yaml
  tests/e2e/sample-attester-https/01-assert.yaml
  tests/e2e/sample-attester-https/01-auth-secret.yaml
  tests/e2e/sample-attester-https/02-assert.yaml
  tests/e2e/sample-attester-https/02-kbs-secret.yaml
  tests/e2e/sample-attester-https/03-kbs-config.yaml
  tests/e2e/sample-attester-https/04-resource-policy.yaml
  tests/e2e/sample-attester-https/05-rvps-reference-values.yaml
  tests/e2e/sample-attester-https/06-attestation-policy.yaml
  tests/e2e/sample-attester-https/07-assert.yaml
  tests/e2e/sample-attester-https/07-kbsconfig_sample.yaml
  tests/e2e/sample-attester-https/08-assert.yaml
  tests/e2e/sample-attester-https/08-client.yaml
  tests/e2e/sample-attester-https/09-assert.yaml
  tests/e2e/sample-attester-https/09-get-secret.yaml
  tests/e2e/sample-attester-https/10-teardown.yaml
  tests/e2e/sample-attester-https/client.yaml.in
  tests/e2e/sample-attester-https/kbs-service-509.conf
  tests/e2e/sample-attester/10-teardown.yaml
  tests/scripts/uninstall-operator.sh
Due: trustee-operator-bundle-on-pull-request

Fix new logo
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Fix `make deploy` command
  Makefile
  README.md
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

tekton: add new tasks to bundle pipeline
  .tekton/bundle-build-pipeline.yaml
Due: trustee-operator-bundle-on-pull-request

docker: enable cgo
  Dockerfile
Due: trustee-operator-on-pull-request, trustee-operator-on-push

docker: add openssl in final image
  Dockerfile
Due: trustee-operator-on-pull-request, trustee-operator-on-push

tekton: operator: disable hermetic build
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

docker: overwrite label io.openshift.tags
  Dockerfile
Due: trustee-operator-on-pull-request, trustee-operator-on-push

tekton: operator: enable hermetic build
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

add RPM lock file
  rpm/rpms.in.yaml
  rpm/rpms.lock.yaml
  rpm/ubi.repo
Due: trustee-operator-on-pull-request, trustee-operator-on-push

tekton: operator: use local pipeline definition
  .tekton/docker-build-multi-platform-oci-ta.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

tekton: operator: enable rpm prefetching
  .tekton/docker-build-multi-platform-oci-ta.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

ci: Enable kuttl integration tests for arm64
  .github/workflows/kuttl-int-tests.yaml
  kuttl-test.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Switch to Manual installPlan for Trustee operator
  scripts/install-helpers/install.sh
  scripts/install-helpers/subs-ga.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Update helper installation script
  scripts/install-helpers/README.md
  scripts/install-helpers/attestation-policy.yaml
  scripts/install-helpers/install.sh
  scripts/install-helpers/kbs-cm.yaml
  scripts/install-helpers/resource-policy-cm.yaml
  scripts/install-helpers/subs-ga.yaml
  scripts/install-helpers/trustee_catalog.yaml.in
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Trustee: rebase to upstream trustee v0.12.0 (coco v.13.0)
  scripts/install-helpers/install.sh
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Konflux build pipeline service account migration for trustee-operator Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Konflux build pipeline service account migration for trustee-operator-bundle Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
Due: trustee-operator-bundle-on-pull-request

Extended KbsConfig to mount local certificates in a secret
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  internal/controller/kbsconfig_controller.go
  tests/e2e/sample-attester/07-vcek-secret.yaml
  tests/e2e/sample-attester/08-assert.yaml
  tests/e2e/sample-attester/08-kbsconfig_sample.yaml
  tests/e2e/sample-attester/09-assert.yaml
  tests/e2e/sample-attester/09-client.yaml
  tests/e2e/sample-attester/10-assert.yaml
  tests/e2e/sample-attester/10-get-secret.yaml
  tests/e2e/sample-attester/11-assert.yaml
  tests/e2e/sample-attester/12-teardown.yaml
  tests/e2e/sample-attester/certs/vcek.crt
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Add documentation for disconnected environment
  README.md
  docs/disconnected.md
  tests/e2e/sample-attester/08-assert.yaml
  tests/e2e/sample-attester/08-kbsconfig_sample.yaml
  tests/e2e/sample-attester/09-assert.yaml
  tests/e2e/sample-attester/11-assert.yaml
  tests/e2e/sample-attester/certs/vcek.crt
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Set default resource policy in Trustee to allow
  scripts/install-helpers/resource-policy-cm.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Allow configuration of trustee replicas
  README.md
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  internal/controller/kbsconfig_controller.go
  tests/e2e/sample-attester-https/07-assert.yaml
  tests/e2e/sample-attester/08-assert.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

release v0.4.0: update the version number
  Makefile
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Red Hat Konflux update trustee-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Red Hat Konflux update trustee-operator-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
Due: trustee-operator-bundle-on-pull-request

Fix enterprise contract
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Enable build source image by default
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Remove unused konflux pipelines
  .tekton/bundle-build-pipeline.yaml
  .tekton/docker-build-multi-platform-oci-ta.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Fix typo for trustee replicas configuration
  README.md
  api/v1alpha1/kbsconfig_types.go
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  tests/e2e/sample-attester/08-assert.yaml
  tests/e2e/sample-attester/08-kbsconfig_sample.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Release 0.4.1
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
  scripts/install-helpers/image_mirroring.yaml
  scripts/install-helpers/install.sh
  scripts/install-helpers/subs-ga.yaml
  tests/mirrors.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Mount attestation policy in attestation container
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

TrusteeConfig CR introduction
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  bundle/manifests/trustee-operator-trusteeconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/trustee-operator-trusteeconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  cmd/main.go
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  config/crd/kustomization.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  config/rbac/trusteeconfig_editor_role.yaml
  config/rbac/trusteeconfig_viewer_role.yaml
  config/samples/kustomization.yaml
  config/samples/trusteeconfig_sample.yaml
  internal/controller/common.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Add trustee config map
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add Authentication secret generation
  internal/controller/crypto_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add resource policy generation
  config/rbac/role.yaml
  config/templates/resource-policy-permissive.rego
  config/templates/resource-policy-restrictive.rego
  internal/controller/resource_policy_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push
