Repository confidential-containers/trustee-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

trustee-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

trustee-operator-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator:on-pr-{{revision}}
  - name: revision
    value: '{{revision}}'
  ...

trustee-operator-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator:{{revision}}
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

Release v0.19.0
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Add release automation
  hack/boilerplate.go.txt
  hack/release/README.md
  hack/release/build-and-push.sh
  hack/release/build-images.sh
  hack/release/bump-version.sh
  hack/release/do-release.sh
  hack/release/fix-go-cache.sh
  hack/release/prepare-community-operators.sh
  hack/release/release.sh
  hack/release/rollback-version.sh
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add release automation scripts
  hack/boilerplate.go.txt
  hack/release/README.md
  hack/release/build-and-push.sh
  hack/release/build-images.sh
  hack/release/bump-version.sh
  hack/release/do-release.sh
  hack/release/prepare-community-operators.sh
  hack/release/release.sh
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add release automation scripts
  hack/boilerplate.go.txt
  hack/release/README.md
  hack/release/build-and-push.sh
  hack/release/bump-version.sh
  hack/release/common.sh
  hack/release/do-release.sh
  hack/release/prepare-community-operators.sh
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix out-of-memory issue when deploying the operator
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Fix CPU attestation policy hyphenisation
  config/templates/ear_default_attestation_policy_cpu.rego
  tests/e2e/sample-attester-https/06-ear-default-policy-cpu.yaml
  tests/e2e/sample-attester/06-ear-default-policy-cpu.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Revisited config/samples content
  README.md
  config/samples/all-in-one/README.md
  config/samples/all-in-one/attestation-policy.yaml
  config/samples/all-in-one/ibmse-attestation-policy.yaml
  config/samples/all-in-one/ibmse-resource-policy.yaml
  config/samples/all-in-one/ita-kbs-config.yaml
  config/samples/all-in-one/ita-resource-policy.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/all-in-one/kbsconfig_sample.yaml
  config/samples/all-in-one/kustomization.yaml
  config/samples/all-in-one/patch-attestation-policy.yaml
  config/samples/all-in-one/patch-env-vars.yaml
  config/samples/all-in-one/patch-ita-config.yaml
  config/samples/all-in-one/patch-kbs-resources.yaml
  config/samples/all-in-one/patch-ref-values.yaml
  config/samples/all-in-one/patch-resource-policy.yaml
  config/samples/all-in-one/patch-tdx-config.yaml
  config/samples/all-in-one/resource-policy.yaml
  config/samples/all-in-one/rvps-reference-values.yaml
  config/samples/all-in-one/tdx-config.yaml
  config/samples/all-in-one/trusteeconfig-basic.yaml
  config/samples/all-in-one/trusteeconfig-restricted.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add init container to convert secret directories to flat files
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Update KBS config samples for new storage backend
  config/samples/all-in-one/ita-kbs-config.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/microservices/ita-kbs-config.yaml
  config/samples/microservices/kbs-config.yaml
  config/samples/microservices/rvps-config.yaml
  tests/e2e/sample-attester-https/03-kbs-config.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Refactor storage paths to use /storage directory
  internal/controller/common.go
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Update KBS config templates for new storage backend
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Bump version to 0.19.0
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Update resource policy paths and references
  config/samples/all-in-one/ibmse-resource-policy.yaml
  config/samples/all-in-one/ita-resource-policy.yaml
  config/samples/all-in-one/resource-policy.yaml
  config/samples/microservices/ibmse-resource-policy.yaml
  config/samples/microservices/ita-resource-policy.yaml
  config/samples/microservices/resource-policy.yaml
  config/templates/resource-policy-permissive.rego
  tests/e2e/sample-attester-https/04-resource-policy.yaml
  tests/e2e/sample-attester/04-resource-policy.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Update RVPS reference values to new format
  config/samples/all-in-one/rvps-reference-values.yaml
  config/samples/microservices/rvps-reference-values.yaml
  config/templates/rvps-reference-values.json
  tests/e2e/sample-attester-https/05-rvps-reference-values.yaml
  tests/e2e/sample-attester/05-rvps-reference-values.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Fix RVPS path to use local_json directory
  config/manager/kustomization.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/microservices/rvps-config.yaml
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  internal/controller/common.go
  tests/e2e/sample-attester-https/03-kbs-config.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Fix e2e test RVPS reference values
  tests/e2e/sample-attester-https/03-kbs-config.yaml
  tests/e2e/sample-attester-https/05-rvps-reference-values.yaml
  tests/e2e/sample-attester/05-rvps-reference-values.yaml
Due: trustee-operator-bundle-on-pull-request

Apply suggestions from copilot code review
  config/manager/kustomization.yaml
  config/samples/all-in-one/ita-kbs-config.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/all-in-one/rvps-reference-values.yaml
  config/samples/microservices/ita-kbs-config.yaml
  config/samples/microservices/kbs-config.yaml
  config/samples/microservices/rvps-reference-values.yaml
  config/templates/resource-policy-permissive.rego
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Refactor storage backend to use /storage directory structure
  config/samples/all-in-one/ibmse-resource-policy.yaml
  config/samples/all-in-one/ita-kbs-config.yaml
  config/samples/all-in-one/ita-resource-policy.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/all-in-one/resource-policy.yaml
  config/samples/all-in-one/rvps-reference-values.yaml
  config/samples/microservices/ibmse-resource-policy.yaml
  config/samples/microservices/ita-kbs-config.yaml
  config/samples/microservices/ita-resource-policy.yaml
  config/samples/microservices/kbs-config.yaml
  config/samples/microservices/resource-policy.yaml
  config/samples/microservices/rvps-config.yaml
  config/samples/microservices/rvps-reference-values.yaml
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  config/templates/resource-policy-permissive.rego
  config/templates/rvps-reference-values.json
  internal/controller/common.go
  internal/controller/kbsconfig_controller.go
  internal/controller/trusteeconfig_controller.go
  tests/e2e/sample-attester-https/03-kbs-config.yaml
  tests/e2e/sample-attester-https/04-resource-policy.yaml
  tests/e2e/sample-attester-https/05-rvps-reference-values.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
  tests/e2e/sample-attester/04-resource-policy.yaml
  tests/e2e/sample-attester/05-rvps-reference-values.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Add init container to convert secret directories to flat files
  Dockerfile
  Makefile
  cmd/secret-converter/main.go
  config/manager/manager.yaml
  internal/controller/kbsconfig_controller.go
  tests/scripts/install-operator.sh
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Set OPERATOR_IMAGE_NAME variable in the bundle csv
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Change default secret for testing attestation
  README.md
  config/samples/all-in-one/kustomization.yaml
  config/samples/all-in-one/patch-kbs-resources.yaml
  config/samples/microservices/kustomization.yaml
  config/samples/microservices/patch-kbs-resources.yaml
  docs/ita.md
  docs/sticky-sessions.md
  internal/controller/trusteeconfig_controller.go
  tests/e2e/sample-attester-https/02-assert.yaml
  tests/e2e/sample-attester-https/02-kbs-secret.yaml
  tests/e2e/sample-attester-https/07-kbsconfig_sample.yaml
  tests/e2e/sample-attester-https/09-get-secret.yaml
  tests/e2e/sample-attester/02-assert.yaml
  tests/e2e/sample-attester/02-kbs-secret.yaml
  tests/e2e/sample-attester/08-kbsconfig_sample.yaml
  tests/e2e/sample-attester/10-get-secret.yaml
  tests/e2e/sample-trusteeconfig/90-get-secret.yaml
  tests/tee/attestation/04-assert.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Add comprehensive unit tests for TLS configuration helpers
  internal/controller/tlsconfig.go
  internal/controller/tlsconfig_test.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add TlsConfig to KbsConfig CRD for TLS protocol configuration
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/kbsconfig_validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  config/manager/kustomization.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Add TLS configuration templates and update TrusteeConfig controller logic
  config/templates/kbs-config-restricted.toml
  internal/controller/tlsconfig.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add TlsConfig type and conversion helpers
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/tlsconfig_validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  internal/controller/tlsconfig.go
  internal/controller/tlsconfig_test.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Update ConfigMap automatically when TrusteeConfig.Spec.TlsConfig changes
  internal/controller/tlsmerge.go
  internal/controller/tlsmerge_test.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add TlsConfig field to TrusteeConfig.Spec
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Update TrusteeConfig controller to use TlsConfig from TrusteeConfig.Spec
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add TLS configuration placeholders to restricted KBS config template
  config/templates/kbs-config-restricted.toml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Empower the operator to run across multiple namespaces
  Dockerfile
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add additional rbac permission to the operator
  config/rbac/role.yaml
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add rbac examples for trustee per namespace
  config/rbac/README.md
  config/rbac/tenant-role.yaml
  config/rbac/tenant-rolebinding.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Path conditions:
  trustee-operator-bundle-on-pull-request: any of: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-pull-request: any file but: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-push: any file but: bundle*|tests/*|.tekton/*bundle*
