Repository confidential-containers/trustee-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Path conditions:
  trustee-operator-bundle-on-pull-request: any of: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-pull-request: any file but: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-push: any file but: bundle*|tests/*|.tekton/*bundle*

Add automatic cluster-wide proxy support
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Bump release 1.0.0
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

TrusteeConfig CR introduction
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  bundle/manifests/trustee-operator-trusteeconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/trustee-operator-trusteeconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  cmd/main.go
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  config/crd/kustomization.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  config/rbac/trusteeconfig_editor_role.yaml
  config/rbac/trusteeconfig_viewer_role.yaml
  config/samples/kustomization.yaml
  config/samples/trusteeconfig_sample.yaml
  internal/controller/common.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Generate trustee config map
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Generate authentication secret
  config/rbac/role.yaml
  config/templates/resource-policy-permissive.rego
  config/templates/resource-policy-restrictive.rego
  internal/controller/crypto_helper.go
  internal/controller/resource_policy_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Copy template files to the container image
  Dockerfile
  internal/controller/resource_policy_helper.go
  internal/controller/rvps_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Default deploymentType to AllinOne
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  internal/controller/kbsconfig_controller.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Allow manual KbsConfig editing
  internal/controller/kbsconfig_controller.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Generate reference values
  config/templates/rvps-reference-values.json
  internal/controller/rvps_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Documentation for KbsConfig merge strategy
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  config/rbac/role.yaml
  config/templates/rvps-reference-values.json
  docs/kbs-config-merge-strategy.md
  internal/controller/common.go
  internal/controller/kbsconfig_controller.go
  internal/controller/trusteeconfig_controller.go
  tests/e2e/sample-attester-https/client.yaml.in
  tests/e2e/sample-attester/client.yaml.in
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Trustee-config CR integration tests
  tests/e2e/sample-attester-https/10-teardown.yaml
  tests/e2e/sample-trusteeconfig/00-assert-controller.yaml
  tests/e2e/sample-trusteeconfig/00-install-operator.yaml
  tests/e2e/sample-trusteeconfig/01-assert-trustee-config.yaml
  tests/e2e/sample-trusteeconfig/01-trusteeconfig.yaml
  tests/e2e/sample-trusteeconfig/02-assert-kbsconfig-cm.yaml
  tests/e2e/sample-trusteeconfig/03-assert-auth-secret.yaml
  tests/e2e/sample-trusteeconfig/04-assert-resource-policy.yaml
  tests/e2e/sample-trusteeconfig/05-assert-ref-values.yaml
  tests/e2e/sample-trusteeconfig/06-assert-kbs-config.yaml
  tests/e2e/sample-trusteeconfig/07-assert-kbs-client.yaml
  tests/e2e/sample-trusteeconfig/07-kbs-client.yaml
  tests/e2e/sample-trusteeconfig/08-assert-secret.yaml
  tests/e2e/sample-trusteeconfig/08-get-secret.yaml
  tests/e2e/sample-trusteeconfig/09-teardown.yaml
  tests/e2e/sample-trusteeconfig/client.yaml.in
Due: trustee-operator-bundle-on-pull-request

Https support in TrusteeConfig CR
  api/v1alpha1/kbsconfig_types.go
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  config/templates/kbs-config-restricted.toml
  docs/https-configuration.md
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Attestation token signing/verification support in TrusteeConfig CR
  api/v1alpha1/kbsconfig_types.go
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  config/templates/kbs-config-restricted.toml
  config/templates/resource-policy-restrictive.rego
  docs/token-configuration.md
  internal/controller/kbsconfig_controller.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

fix-attestation-policy
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add empty-dir volume for overwriting attestation policy
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add generation of TdxConfigSpec
  config/templates/tdx-config.json
  docs/kbs-config-merge-strategy.md
  internal/controller/tdx_helper.go
  internal/controller/trusteeconfig_controller.go
  tests/e2e/sample-trusteeconfig/10-assert-trustee-config.yaml
  tests/e2e/sample-trusteeconfig/10-trusteeconfig.yaml
  tests/e2e/sample-trusteeconfig/100-teardown.yaml
  tests/e2e/sample-trusteeconfig/20-assert-kbsconfig-cm.yaml
  tests/e2e/sample-trusteeconfig/30-assert-auth-secret.yaml
  tests/e2e/sample-trusteeconfig/40-assert-resource-policy.yaml
  tests/e2e/sample-trusteeconfig/50-assert-ref-values.yaml
  tests/e2e/sample-trusteeconfig/60-assert-tdx-config.yaml
  tests/e2e/sample-trusteeconfig/70-assert-kbs-config.yaml
  tests/e2e/sample-trusteeconfig/80-assert-kbs-client.yaml
  tests/e2e/sample-trusteeconfig/80-kbs-client.yaml
  tests/e2e/sample-trusteeconfig/90-assert-secret.yaml
  tests/e2e/sample-trusteeconfig/90-get-secret.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Removed https attributes from the KbsConfig merge strategy
  docs/kbs-config-merge-strategy.md
  docs/reconciliation-loop-behavior.md
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Preserve configmaps/secrets content during reconciliation
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add attestation-policy generation for both permissive/restrictive profiles
  config/templates/attestation-policy.rego
  docs/kbs-config-merge-strategy.md
  docs/reconciliation-loop-behavior.md
  internal/controller/resource_policy_helper.go
  internal/controller/trusteeconfig_controller.go
  tests/e2e/sample-trusteeconfig/65-assert-attestation-policy.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Set num of actix-web workers to 4 by default
  config/samples/all-in-one/ita-kbs-config.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/microservices/ita-kbs-config.yaml
  config/samples/microservices/kbs-config.yaml
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  tests/e2e/sample-attester-https/03-kbs-config.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
  tests/scripts/config-trustee.sh
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Update RPM dependencies to UBI10
  .gitignore
  Dockerfile
  rpm/rpms.lock.yaml
  rpm/ubi.repo
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Update Tekton task bundle digests
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Update default attestation-policy
  config/templates/attestation-policy.rego
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix tekton CEL expressions
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Fix fips issue
  Dockerfile
Due: trustee-operator-on-pull-request, trustee-operator-on-push

helm: Introducing trustee-operator chart
  Makefile
  charts/trustee-operator/.helmignore
  charts/trustee-operator/Chart.yaml
  charts/trustee-operator/README.md
  charts/trustee-operator/crds/confidentialcontainers.org_kbsconfigs.yaml
  charts/trustee-operator/crds/confidentialcontainers.org_trusteeconfigs.yaml
  charts/trustee-operator/templates/deployment.yaml
  charts/trustee-operator/templates/metrics-service.yaml
  charts/trustee-operator/templates/namespace.yaml
  charts/trustee-operator/templates/rbac/kbsconfig_editor_role.yaml
  charts/trustee-operator/templates/rbac/kbsconfig_viewer_role.yaml
  charts/trustee-operator/templates/rbac/leader_election_role.yaml
  charts/trustee-operator/templates/rbac/leader_election_role_binding.yaml
  charts/trustee-operator/templates/rbac/metrics_auth_role.yaml
  charts/trustee-operator/templates/rbac/metrics_auth_role_binding.yaml
  charts/trustee-operator/templates/rbac/metrics_reader_role.yaml
  charts/trustee-operator/templates/rbac/role.yaml
  charts/trustee-operator/templates/rbac/role_binding.yaml
  charts/trustee-operator/templates/rbac/service_account.yaml
  charts/trustee-operator/templates/rbac/trusteeconfig_editor_role.yaml
  charts/trustee-operator/templates/rbac/trusteeconfig_viewer_role.yaml
  charts/trustee-operator/templates/trusteeconfig.yaml
  charts/trustee-operator/values.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

config: update role.yaml
  config/rbac/role.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Update admin backend config and attestation policy
  README.md
  config/samples/all-in-one/attestation-policy.yaml
  config/samples/all-in-one/ita-kbs-config.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/microservices/attestation-policy.yaml
  config/samples/microservices/ita-kbs-config.yaml
  config/samples/microservices/kbs-config.yaml
  config/templates/attestation-policy.rego
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  docs/sticky-sessions.md
  tests/e2e/sample-attester-https/03-kbs-config.yaml
  tests/e2e/sample-attester-https/06-attestation-policy.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
  tests/e2e/sample-attester/06-attestation-policy.yaml
  tests/scripts/config-trustee.sh
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Add a default route
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/common.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Enable AMD vcek caching
  api/v1alpha1/kbsconfig_types.go
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  docs/disconnected.md
  internal/controller/common.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Bump v0.17 version
  Makefile
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Update affirming resource policy
  config/templates/resource-policy-restrictive.rego
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Rename default cpu policy
  config/templates/ear_default_attestation_policy_cpu.rego
  internal/controller/kbsconfig_controller.go
  internal/controller/resource_policy_helper.go
  internal/controller/trusteeconfig_controller.go
  tests/e2e/sample-attester-https/06-ear-default-policy-cpu.yaml
  tests/e2e/sample-attester/06-ear-default-policy-cpu.yaml
  tests/e2e/sample-trusteeconfig/65-assert-attestation-policy.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

GPU attestation policy override
  api/v1alpha1/kbsconfig_types.go
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  config/manager/kustomization.yaml
  config/templates/ear_default_attestation_policy_gpu.rego
  internal/controller/common.go
  internal/controller/kbsconfig_controller.go
  internal/controller/resource_policy_helper.go
  internal/controller/trusteeconfig_controller.go
  tests/e2e/sample-trusteeconfig/67-assert-gpu-policy.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Prettify toml/yaml files
  config/templates/ear_default_attestation_policy_gpu.rego
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  tests/e2e/sample-attester-https/03-kbs-config.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Remove sample-attester specific reference values
  config/templates/rvps-reference-values.json
Due: trustee-operator-on-pull-request, trustee-operator-on-push

observability: add request context to reconcile log
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

observability: reduce noisy mapper logs to debug level
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

observability: use log.Info consistently for all error logging
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

observability: add Kubernetes EventRecorder to controller
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push
