Repository confidential-containers/trustee-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Path conditions:
  trustee-operator-bundle-on-pull-request: any of: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-pull-request: any file but: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-push: any file but: bundle*|tests/*|.tekton/*bundle*

Test for signed container images
  kuttl-test.yaml
  tests/tee/attestation/03-coco-pod.yaml
  tests/tee/attestation/pod.yaml.in
  tests/tee/signed-images/01-assert.yaml
  tests/tee/signed-images/01-policy-secret.yaml
  tests/tee/signed-images/02-assert.yaml
  tests/tee/signed-images/02-publickey-secret.yaml
  tests/tee/signed-images/03-assert.yaml
  tests/tee/signed-images/03-pod-signed-image.yaml
  tests/tee/signed-images/05-teardown.yaml
  tests/tee/signed-images/pod-signed-image.yaml.in
  tests/tee/signed-images/policy.json
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Update bundle
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  bundle/manifests/trustee-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Fix trustee v0.11.0 image
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

tests: Use kata-cc runtimeclass name
  scripts/install-helpers/tests/runtimeclass_workloads/pod-attestable.yaml.in
  scripts/install-helpers/tests/runtimeclass_workloads/pod-confidential-unencrypted.yaml.in
  scripts/install-helpers/tests/runtimeclass_workloads/pod-signed-tests.yaml.in
Due: trustee-operator-bundle-on-pull-request

tekton: remove JAVA_COMMUNITY_DEPENDENCIES
  .tekton/bundle-build-pipeline.yaml
Due: trustee-operator-bundle-on-pull-request

EAR token introduction
  config/samples/all-in-one/kbs-config.yaml
  config/samples/microservices/as-config.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Handle rvps type
  config/samples/all-in-one/kbs-config.yaml
  config/samples/microservices/as-config.yaml
  config/samples/microservices/rvps-config.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Misc editorial changes for README
  .gitignore
  README.md
  config/manager/kustomization.yaml
  config/samples/microservices/kustomization.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

go.mod: bump Go toolchain version to v1.22.0
  .github/workflows/kuttl-int-tests.yaml
  go.mod
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

actions: add arm64 image for release and PR merge
  .github/workflows/docker-publish-latest-on-merge.yaml
  .github/workflows/docker-publish-on-tag.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Bump new operator version
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Skip GH action workflow on changes to md files
  .github/workflows/docker-publish-latest-on-merge.yaml
  .github/workflows/gofmt.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/kuttl-int-tests.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Add support for testing microservices
  config/samples/all-in-one/attestation-policy.yaml
  config/samples/microservices/attestation-policy.yaml
  tests/e2e/sample-attester/00-install.yaml
  tests/e2e/sample-attester/05-rvps-reference-values.yaml
  tests/e2e/sample-attester/06-attestation-policy.yaml
  tests/e2e/sample-attester/install-operator.sh
  tests/scripts/install-operator.sh
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Defaulting to EAR attestation policy
  README.md
  config/samples/all-in-one/attestation-policy.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/all-in-one/resource-policy.yaml
  config/samples/all-in-one/rvps-reference-values.yaml
  config/samples/microservices/as-config.yaml
  config/samples/microservices/attestation-policy.yaml
  config/samples/microservices/resource-policy.yaml
  config/samples/microservices/rvps-config.yaml
  config/samples/microservices/rvps-reference-values.yaml
  internal/controller/common.go
  internal/controller/kbsconfig_controller.go
  tests/e2e/sample-attester/03-kbs-config.yaml
  tests/e2e/sample-attester/04-resource-policy.yaml
  tests/e2e/sample-attester/05-rvps-reference-values.yaml
  tests/e2e/sample-attester/06-attestation-policy.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

ita: Fix token type
  docs/ita.md
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Bumping new operator versions (#53)
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

ita: Don't require nodeport
  docs/ita.md
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Added test suite for real TEE attestation
  tests/tee/attestation/01-assert.yaml
  tests/tee/attestation/01-kbs-secret.yaml
  tests/tee/attestation/02-patch-kbsconfig.yaml
  tests/tee/attestation/03-assert.yaml
  tests/tee/attestation/03-coco-pod.yaml
  tests/tee/attestation/04-assert.yaml
  tests/tee/attestation/05-teardown.yaml
  tests/tee/attestation/pod.yaml.in
Due: trustee-operator-bundle-on-pull-request

Drop deprecated kube-rbac-proxy
  Makefile
  cmd/main.go
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_config_patch.yaml
  config/default/manager_metrics_patch.yaml
  config/default/metrics_service.yaml
  config/manager/manager.yaml
  config/network-policy/allow-metrics-traffic.yaml
  config/network-policy/allow-webhook-traffic.yaml
  config/network-policy/kustomization.yaml
  config/prometheus/monitor.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  config/rbac/metrics_auth_role.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/metrics_reader_role.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix CI
  .github/workflows/kuttl-int-tests.yaml
  Makefile
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Integration test refactoring
  .gitignore
  tests/e2e/sample-attester/01-auth-secret.yaml
  tests/e2e/sample-attester/02-kbs-secret.yaml
  tests/e2e/sample-attester/08-client.yaml
  tests/e2e/sample-attester/09-get-secret.yaml
  tests/e2e/sample-attester/client.yaml.in
  tests/e2e/sample-attester/create-auth-secret.sh
  tests/e2e/sample-attester/create-other-secret.sh
  tests/e2e/sample-attester/get-secret.sh
  tests/e2e/sample-attester/kustomization.yaml
  tests/scripts/install-operator.sh
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Update kuttl-int-tests.yaml
  .github/workflows/kuttl-int-tests.yaml
Due: trustee-operator-bundle-on-pull-request

Fix trustee v0.11.0 image
  config/manager/manager.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Update configuration files
  README.md
  config/samples/all-in-one/ita-kbs-config.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/all-in-one/kustomization.yaml
  config/samples/all-in-one/patch-ita-config.yaml
  config/samples/all-in-one/resource-policy.yaml
  config/samples/microservices/ita-kbs-config.yaml
  config/samples/microservices/kbs-config.yaml
  config/samples/microservices/kustomization.yaml
  config/samples/microservices/resource-policy.yaml
  internal/controller/kbsconfig_controller.go
  tests/e2e/sample-attester/03-kbs-config.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Downstream changes
  .tekton/multi-arch-build-pipeline.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Updated CSV
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

Rebase upstream v0.3.0
  .tekton/multi-arch-build-pipeline.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Revert CSV install mode
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Testing: use locally built operator image
  tests/scripts/install-operator.sh
Due: trustee-operator-bundle-on-pull-request

Increase trustee replicas
  internal/controller/kbsconfig_controller.go
  tests/e2e/sample-attester/07-assert.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Update kbs-config.yaml
  config/samples/microservices/kbs-config.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Rename operator
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Revert "fix(deps): update kubernetes packages to v0.32.2"
  go.mod
  go.sum
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Sticky sessions documentation
  docs/sticky-sessions.md
Due: trustee-operator-on-pull-request, trustee-operator-on-push

More integration tests
  docs/integration-tests.md
  tests/scripts/config-trustee.sh
  tests/scripts/install-coco.sh
  tests/tee/encrypted-images/01-assert.yaml
  tests/tee/encrypted-images/01-kbs-secret.yaml
  tests/tee/encrypted-images/02-patch-kbsconfig.yaml
  tests/tee/encrypted-images/03-assert.yaml
  tests/tee/encrypted-images/03-encrypted-pod.yaml
  tests/tee/encrypted-images/04-teardown.yaml
  tests/tee/encrypted-images/pod-encrypted.yaml.in
  tests/tee/signed-images/pod-signed-image.yaml.in
Due: trustee-operator-bundle-on-pull-request

Test logo
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Testing: sealed secrets
  tests/scripts/config-trustee.sh
  tests/tee/sealed-secrets/01-assert.yaml
  tests/tee/sealed-secrets/01-vault-secret.yaml
  tests/tee/sealed-secrets/02-patch-kbsconfig.yaml
  tests/tee/sealed-secrets/03-assert.yaml
  tests/tee/sealed-secrets/03-sealed-pod.yaml
  tests/tee/sealed-secrets/04-assert.yaml
  tests/tee/sealed-secrets/05-teardown.yaml
  tests/tee/sealed-secrets/pod-sealed.yaml.in
  tests/tee/sealed-secrets/secret.json
Due: trustee-operator-bundle-on-pull-request
