Repository confidential-containers/trustee-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

trustee-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

trustee-operator-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator:{{revision}}
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

Update trustee-operator to 89352cb
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

Update trustee to 2866edf
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

Update trustee-operator to 8d3f9ff
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

Updated CSV
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

Update trustee-operator to 3dde530
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

Update trustee to db1fa9d
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

gh: add CODEOWNERS
  CODEOWNERS
Due: trustee-operator-on-push

bundle: declare supported architectures
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

tests: fix script syntax
  tests/integration-tests.yaml
Due: trustee-operator-bundle-on-pull-request

bump operator-sdk version to v1.36.1
  Dockerfile
  Makefile
  bundle.Dockerfile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/default/manager_auth_proxy_patch.yaml
  go.mod
  go.sum
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

bundle: Bump kbs image to its latest release
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

bundle: Update image
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

Removal of ReadOnly for PVCVolume
  internal/controller/volumes.go
Due: trustee-operator-on-push

Add renovate config
  renovate.json
Due: trustee-operator-on-push

bump operator-sdk version to v1.36.1
  Makefile
  bundle.Dockerfile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/default/manager_auth_proxy_patch.yaml
  go.mod
  go.sum
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

bump operator-sdk version to v1.36.1 (#47)
  Makefile
  bundle.Dockerfile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/default/manager_auth_proxy_patch.yaml
  go.mod
  go.sum
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

Bumping new operator versions
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

Bumping new operator versions (#53)
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

kuttl integration test
  .github/workflows/kuttl-int-tests.yaml
  Makefile
  README.md
  kuttl-test.yaml
  tests/e2e/sample-attester/00-assert.yaml
  tests/e2e/sample-attester/00-install.yaml
  tests/e2e/sample-attester/01-assert.yaml
  tests/e2e/sample-attester/01-auth-secret.yaml
  tests/e2e/sample-attester/02-assert.yaml
  tests/e2e/sample-attester/02-kbs-secret.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
  tests/e2e/sample-attester/04-resource-policy.yaml
  tests/e2e/sample-attester/05-rvps-reference-values.yaml
  tests/e2e/sample-attester/06-assert.yaml
  tests/e2e/sample-attester/06-kbsconfig_sample.yaml
  tests/e2e/sample-attester/07-assert.yaml
  tests/e2e/sample-attester/07-client.yaml
  tests/e2e/sample-attester/08-assert.yaml
  tests/e2e/sample-attester/08-get-secret.yaml
  tests/e2e/sample-attester/create-auth-secret.sh
  tests/e2e/sample-attester/create-other-secret.sh
  tests/e2e/sample-attester/get-secret.sh
  tests/e2e/sample-attester/install-operator.sh
  tests/scripts/kind-with-registry.sh
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

kuttl integration test
  .github/workflows/kuttl-int-tests.yaml
  Makefile
  README.md
  kuttl-test.yaml
  tests/e2e/sample-attester/00-assert.yaml
  tests/e2e/sample-attester/00-install.yaml
  tests/e2e/sample-attester/01-assert.yaml
  tests/e2e/sample-attester/01-auth-secret.yaml
  tests/e2e/sample-attester/02-assert.yaml
  tests/e2e/sample-attester/02-kbs-secret.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
  tests/e2e/sample-attester/04-resource-policy.yaml
  tests/e2e/sample-attester/05-rvps-reference-values.yaml
  tests/e2e/sample-attester/06-assert.yaml
  tests/e2e/sample-attester/06-kbsconfig_sample.yaml
  tests/e2e/sample-attester/07-assert.yaml
  tests/e2e/sample-attester/07-client.yaml
  tests/e2e/sample-attester/08-assert.yaml
  tests/e2e/sample-attester/08-get-secret.yaml
  tests/e2e/sample-attester/client.yaml
  tests/e2e/sample-attester/create-auth-secret.sh
  tests/e2e/sample-attester/create-other-secret.sh
  tests/e2e/sample-attester/get-secret.sh
  tests/e2e/sample-attester/install-operator.sh
  tests/e2e/sample-attester/kustomization.yaml
  tests/scripts/kind-with-registry.sh
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

test CI
  .github/workflows/kuttl-int-tests.yaml
Due: trustee-operator-bundle-on-pull-request

Add ITA / ITTS examples / documentation
  config/samples/all-in-one/ita-kbs-config.yaml
  config/samples/all-in-one/ita-resource-policy.yaml
  config/samples/all-in-one/kustomization.yaml
  config/samples/all-in-one/patch-ita-config.yaml
  config/samples/microservices/ita-kbs-config.yaml
  config/samples/microservices/ita-resource-policy.yaml
  config/samples/microservices/kustomization.yaml
  docs/ita.md
Due: trustee-operator-on-push

chore(deps): update trustee to 169f9d8
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

tekton: operator build: use pipeline from remote repo
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-on-push

tekton: bundle build: use pipeline from remote repo
  .tekton/bundle-build-pipeline.yaml
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
Due: trustee-operator-bundle-on-pull-request

Added attestation policy to integration tests
  tests/e2e/sample-attester/04-resource-policy.yaml
  tests/e2e/sample-attester/06-assert.yaml
  tests/e2e/sample-attester/06-attestation-policy.yaml
  tests/e2e/sample-attester/07-assert.yaml
  tests/e2e/sample-attester/07-kbsconfig_sample.yaml
  tests/e2e/sample-attester/08-assert.yaml
  tests/e2e/sample-attester/08-client.yaml
  tests/e2e/sample-attester/09-assert.yaml
  tests/e2e/sample-attester/09-get-secret.yaml
  tests/e2e/sample-attester/create-other-secret.sh
Due: trustee-operator-bundle-on-pull-request

tekton: add pipeline timeout
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

chore(deps): update trustee-operator to b813bb3
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

Fix kbs-client image override for tests
  tests/e2e/sample-attester/install-operator.sh
Due: trustee-operator-bundle-on-pull-request

bundle: update trustee-operator digest to d8f2196
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request

Revert "tekton: bundle build: use pipeline from remote repo"
  .tekton/bundle-build-pipeline.yaml
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
Due: trustee-operator-bundle-on-pull-request

tekton: add task rpms-signature-scan
  .tekton/bundle-build-pipeline.yaml
Due: trustee-operator-bundle-on-pull-request

Update configuration files
  README.md
  config/samples/all-in-one/ita-kbs-config.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/all-in-one/kustomization.yaml
  config/samples/all-in-one/patch-ita-config.yaml
  config/samples/all-in-one/resource-policy.yaml
  config/samples/microservices/ita-kbs-config.yaml
  config/samples/microservices/kbs-config.yaml
  config/samples/microservices/kustomization.yaml
  config/samples/microservices/resource-policy.yaml
  internal/controller/kbsconfig_controller.go
  tests/e2e/sample-attester/03-kbs-config.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

Handle rvps type
  config/samples/all-in-one/kbs-config.yaml
  config/samples/microservices/as-config.yaml
  config/samples/microservices/rvps-config.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-push

Path conditions:
  trustee-operator-bundle-on-pull-request: any of: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-push: any file but: bundle*|tests/*|.tekton/*bundle*
