Repository confidential-containers/trustee-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

trustee-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

trustee-operator-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator:on-pr-{{revision}}
  - name: revision
    value: '{{revision}}'
  ...

trustee-operator-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator:{{revision}}
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

Add reference values generation
  config/templates/rvps-reference-values.json
  internal/controller/rvps_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add kuttl test for TrusteeConfig CR
  tests/tmp/sample-trusteeconfig/00-assert.yaml
  tests/tmp/sample-trusteeconfig/00-install.yaml
  tests/tmp/sample-trusteeconfig/02-assert.yaml
  tests/tmp/sample-trusteeconfig/02-kbs-secret.yaml
  tests/tmp/sample-trusteeconfig/05-assert.yaml
  tests/tmp/sample-trusteeconfig/05-trusteeconfig_sample.yaml
  tests/tmp/sample-trusteeconfig/06-assert.yaml
  tests/tmp/sample-trusteeconfig/07-assert.yaml
  tests/tmp/sample-trusteeconfig/08-assert.yaml
  tests/tmp/sample-trusteeconfig/09-assert.yaml
  tests/tmp/sample-trusteeconfig/10-assert.yaml
  tests/tmp/sample-trusteeconfig/11-assert.yaml
  tests/tmp/sample-trusteeconfig/11-client.yaml
  tests/tmp/sample-trusteeconfig/12-assert.yaml
  tests/tmp/sample-trusteeconfig/13-assert.yaml
  tests/tmp/sample-trusteeconfig/14-teardown.yaml
  tests/tmp/sample-trusteeconfig/client.yaml.in
Due: trustee-operator-bundle-on-pull-request

Bump new operator version v0.4.2
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
  scripts/install-helpers/install.sh
  scripts/install-helpers/subs-ga.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Copy template files to the container image
  Dockerfile
  internal/controller/kbsconfig_controller.go
  internal/controller/resource_policy_helper.go
  internal/controller/rvps_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for trustee-operator-bundle
  bundle.Dockerfile
Due: trustee-operator-bundle-on-pull-request

Remove tokenVerificationEnabled flag
  api/v1alpha1/kbsconfig_types.go
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  config/samples/trusteeconfig_sample.yaml
  internal/controller/trusteeconfig_controller.go
  tests/tmp/sample-trusteeconfig/05-trusteeconfig_sample.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Removed HttpsEnabled flag
  api/v1alpha1/kbsconfig_types.go
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  config/samples/trusteeconfig_sample.yaml
  internal/controller/trusteeconfig_controller.go
  tests/tmp/sample-trusteeconfig/05-trusteeconfig_sample.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Add KbsConfig reference to the TrusteeConfigStatus
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Default deploymentType to AllinOne
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix authentication private/public key
  internal/controller/crypto_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix TrusteeConfig status
  internal/controller/kbsconfig_controller.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Allow manual KbsConfig Editing
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix number of replicas handling
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix onpush pipeline
  .tekton/trustee-operator-bundle-push.yaml
Due: trustee-operator-bundle-on-pull-request

Another attempt to fix the nudge
  .tekton/trustee-operator-bundle-push.yaml
Due: trustee-operator-bundle-on-pull-request

Removed unused functions
  internal/controller/common.go
  internal/controller/crypto_helper.go
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Documentation for KbsConfig merge strategy
  docs/kbs-config-merge-strategy.md
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Alignment to trustee v0.15.0
  Makefile
  config/samples/all-in-one/attestation-policy.yaml
  config/samples/all-in-one/kbs-config.yaml
  config/samples/all-in-one/resource-policy.yaml
  config/samples/all-in-one/rvps-reference-values.yaml
  config/samples/microservices/attestation-policy.yaml
  config/samples/microservices/resource-policy.yaml
  config/samples/microservices/rvps-reference-values.yaml
  internal/controller/common.go
  internal/controller/kbsconfig_controller.go
  tests/e2e/sample-attester-https/04-resource-policy.yaml
  tests/e2e/sample-attester-https/05-rvps-reference-values.yaml
  tests/e2e/sample-attester-https/06-attestation-policy.yaml
  tests/e2e/sample-attester/04-resource-policy.yaml
  tests/e2e/sample-attester/05-rvps-reference-values.yaml
  tests/e2e/sample-attester/06-attestation-policy.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Update helper installation script
  scripts/install-helpers/install.sh
Due: trustee-operator-on-pull-request, trustee-operator-on-push

install-helper: Update ITA support
  scripts/install-helpers/tdx-ita-kbs-cm.yaml
  scripts/install-helpers/tdx-ita-resource-policy-cm.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Release v0.5.0
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Bump golang version 1.24
  .github/workflows/kuttl-int-tests.yaml
  Dockerfile
  go.mod
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Bump sdk-operator version 1.41.1
  .github/workflows/golangci-lint.yaml
  .github/workflows/kuttl-int-tests.yaml
  Dockerfile
  Makefile
  cmd/main.go
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controller/kbsconfig_controller.go
  internal/controller/volumes.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Bump trustee-operator version 0.5.0
  Makefile
  bundle.Dockerfile
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

default Tdx config in operator
  config/rbac/role.yaml
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

automatically generate authentication keys if missing
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Extend the KbsLocalCertCacheSpec structure
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  docs/disconnected.md
  internal/controller/kbsconfig_controller.go
  tests/e2e/sample-attester/08-kbsconfig_sample.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

kbsLocalCertCacheSpec mountPath is optional
  api/v1alpha1/kbsconfig_types.go
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  docs/disconnected.md
  internal/controller/common.go
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Generate authentication secret
  internal/controller/crypto_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Copy template files to the container image
  Dockerfile
  internal/controller/resource_policy_helper.go
  internal/controller/rvps_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Generate trustee config map
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Default deploymentType to AllinOne
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  internal/controller/kbsconfig_controller.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

TrusteeConfig CR introduction
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  bundle/manifests/trustee-operator-trusteeconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/trustee-operator-trusteeconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  cmd/main.go
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  config/crd/kustomization.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  config/rbac/trusteeconfig_editor_role.yaml
  config/rbac/trusteeconfig_viewer_role.yaml
  config/samples/kustomization.yaml
  config/samples/trusteeconfig_sample.yaml
  internal/controller/common.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Generate resource policy
  config/rbac/role.yaml
  config/templates/resource-policy-permissive.rego
  config/templates/resource-policy-restrictive.rego
  internal/controller/resource_policy_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Generate reference values
  config/templates/rvps-reference-values.json
  internal/controller/rvps_helper.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Allow manual KbsConfig editing
  internal/controller/kbsconfig_controller.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Documentation for KbsConfig merge strategy
  docs/kbs-config-merge-strategy.md
  internal/controller/common.go
  internal/controller/kbsconfig_controller.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

TrusteeConfig integration tests
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  config/rbac/role.yaml
  config/templates/rvps-reference-values.json
  internal/controller/trusteeconfig_controller.go
  tests/e2e/sample-attester/client.yaml.in
  tests/e2e/trustee-config/sample-trusteeconfig/00-assert-controller.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/00-install-operator.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/01-assert-trustee-config.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/01-trusteeconfig.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/02-assert-kbsconfig-cm.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/03-assert-auth-secret.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/04-assert-resource-policy.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/05-assert-ref-values.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/06-assert-kbs-config.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/07-assert-kbs-client.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/07-kbs-client.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/08-assert-secret.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/08-get-secret.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/09-teardown.yaml
  tests/e2e/trustee-config/sample-trusteeconfig/client.yaml.in
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Add automatic cluster-wide proxy support
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix enterprise contract
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Path conditions:
  trustee-operator-bundle-on-pull-request: any of: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-pull-request: any file but: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-push: any file but: bundle*|tests/*|.tekton/*bundle*
