Repository confidential-containers/trustee-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Path conditions:
  trustee-operator-bundle-on-pull-request: any of: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-pull-request: any file but: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-push: any file but: bundle*|tests/*|.tekton/*bundle*

observability: skip status update when IsReady has not changed
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

observability: requeue after deployment creation to check readiness
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix: stop polling KbsConfig readiness with RequeueAfter in TrusteeConfig
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

reconcile: add missing attestation secrets to secret mapper
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

reconcile: remove dead Owns() for ConfigMap and Secret
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

reconcile: watch Deployment for self-healing on manual changes
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

reconcile: watch Service for self-healing on manual changes
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

test(e2e): verify kbs-service is recreated after manual deletion
  tests/e2e/kbsconfig-self-healing/20-assert.yaml
  tests/e2e/kbsconfig-self-healing/20-delete-service.yaml
Due: trustee-operator-bundle-on-pull-request

reconcile: watch owned ConfigMaps and Secrets in TrusteeConfig controller
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix: updateKbsDeployment must signal whether it actually updated
  internal/controller/kbsconfig_controller.go
  internal/controller/kbsconfig_controller_test.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

test(e2e): verify trustee-deployment is recreated after manual deletion
  tests/e2e/kbsconfig-self-healing/00-assert.yaml
  tests/e2e/kbsconfig-self-healing/00-install.yaml
  tests/e2e/kbsconfig-self-healing/01-assert.yaml
  tests/e2e/kbsconfig-self-healing/01-auth-secret.yaml
  tests/e2e/kbsconfig-self-healing/02-kbs-config.yaml
  tests/e2e/kbsconfig-self-healing/03-rvps-reference-values.yaml
  tests/e2e/kbsconfig-self-healing/04-assert.yaml
  tests/e2e/kbsconfig-self-healing/04-kbsconfig.yaml
  tests/e2e/kbsconfig-self-healing/10-assert.yaml
  tests/e2e/kbsconfig-self-healing/10-delete-deployment.yaml
  tests/e2e/kbsconfig-self-healing/99-teardown.yaml
Due: trustee-operator-bundle-on-pull-request

test(e2e): verify TrusteeConfig-owned auth Secret is recreated after deletion
  tests/e2e/trusteeconfig-self-healing/30-assert.yaml
  tests/e2e/trusteeconfig-self-healing/30-delete-secret.yaml
Due: trustee-operator-bundle-on-pull-request

test: add unit tests for reconcile fixes
  internal/controller/kbsconfig_controller_test.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

test(e2e): verify TrusteeConfig-owned ConfigMap is recreated after deletion
  tests/e2e/trusteeconfig-self-healing/00-assert.yaml
  tests/e2e/trusteeconfig-self-healing/00-install.yaml
  tests/e2e/trusteeconfig-self-healing/10-assert.yaml
  tests/e2e/trusteeconfig-self-healing/10-trusteeconfig.yaml
  tests/e2e/trusteeconfig-self-healing/20-assert.yaml
  tests/e2e/trusteeconfig-self-healing/20-delete-configmap.yaml
  tests/e2e/trusteeconfig-self-healing/99-teardown.yaml
Due: trustee-operator-bundle-on-pull-request

fix: KbsConfig stuck in Terminating when deployment already deleted
  internal/controller/kbsconfig_controller.go
  tests/e2e/kbsconfig-self-healing/30-assert.yaml
  tests/e2e/kbsconfig-self-healing/30-delete-kbsconfig-after-missing-deployment.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

fix: TrusteeConfig unconditionally updating KbsConfig causes reconcile loop
  internal/controller/trusteeconfig_controller.go
  tests/e2e/trusteeconfig-self-healing/15-check-kbsconfig-stability.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

fix: buildKbsConfigSpec silently applies partial spec on resource creation failure
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

reconcile: watch owned ConfigMaps and Secrets in TrusteeConfig controller
  internal/controller/kbsconfig_controller.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

test: fix uninstall-operator.sh crash when KbsConfig already deleted
  tests/scripts/uninstall-operator.sh
Due: trustee-operator-bundle-on-pull-request

fix: TrusteeConfig.IsReady should reflect KbsConfig deployment readiness
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix KbsConfig and TrusteeConfig statuses
  api/v1alpha1/kbsconfig_types.go
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

fix: use fetched Service object for updates to preserve ResourceVersion
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix: fall back to DefaultKbsImageName when KBS env var is unset
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

test: add kuttl e2e test for kbs-service type update
  tests/e2e/service-type-update/00-assert.yaml
  tests/e2e/service-type-update/00-install.yaml
  tests/e2e/service-type-update/10-assert.yaml
  tests/e2e/service-type-update/10-trusteeconfig.yaml
  tests/e2e/service-type-update/20-assert.yaml
  tests/e2e/service-type-update/20-patch-service-type.yaml
  tests/e2e/service-type-update/99-teardown.yaml
Due: trustee-operator-bundle-on-pull-request

Update cpu attestation policy for TDX changes
  config/templates/ear_default_attestation_policy_cpu.rego
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Remove spurious chars from cpu attestation policy
  config/templates/ear_default_attestation_policy_cpu.rego
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix identified vulnerabilities
  go.mod
  go.sum
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix CI failure by updating Go builder image to 1.25
  Dockerfile
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Trustee operator v0.18.0
  Makefile
  bundle.Dockerfile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-pull-request, trustee-operator-on-pull-request, trustee-operator-on-push

Add release automation
  hack/boilerplate.go.txt
  hack/release/README.md
  hack/release/build-and-push.sh
  hack/release/build-images.sh
  hack/release/bump-version.sh
  hack/release/do-release.sh
  hack/release/fix-go-cache.sh
  hack/release/prepare-community-operators.sh
  hack/release/release.sh
  hack/release/rollback-version.sh
Due: trustee-operator-on-pull-request, trustee-operator-on-push
